@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply min-h-screen;
  }

  body {
    @apply bg-background-green text-gray-200;
  }

  // Cannot style dynamic inner HTML directly, so must do it here
  code {
    @apply tracking-tight md:tracking-normal;

    // Remove backticks around inline code and whitespace after block code
    &:before, &:after {
      content: none !important;
    }

    :not(pre) > & {
      @apply shadow-md rounded-sm py-0.5 px-1;
    }
  }

  // Shrink a little more to avoid notch in landscape mode. Also looks decent on desktop.
  @media only screen and (orientation: landscape) {
    #content-container {
      width: 90%;
      margin: 0 auto;
    }
  }
}
