.DoorWrapper {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;

}


.Light {
    width: 7rem;
    float: right;
    margin-top: -2.5rem;
    margin-right: -2rem;
}

.BackButton {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: -1rem;
}

.door{
    background-color: whitesmoke;
    color: black;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.door pre {
    white-space: pre-wrap;
}