.DoorWrapper {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    position: relative;
}

.BorderWrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: -5rem;
}

.Border {
    width: 80rem;
}

.Light {
    width: 7rem;
    float: right;
    position: absolute;
    right: 2rem;
    top: 3rem;
}

.LightNumber {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.BackButton {
    color: darkgray;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: -2rem;
}

.Door {
    background-color: whitesmoke;
    color: black;
    padding: 2rem 5rem 5rem 5rem;
    margin: 0 2rem 0 2rem;
}

@media only screen and (max-width: 768px) {
    .Door {
        margin: 0 0.5rem 0 0.5rem;
        padding: 2rem 0.5rem 5rem 0.5rem;
    }
}

.Door pre {
    white-space: pre-wrap;
}

.Door form {
    margin-top: 3rem;
    text-align: center;
}