.LightBulbDim>path {
  fill: rgba(224, 185, 88, 0.5);
}

.LightBulbDim+text {
  fill: none;
  stroke: #000000;
  stroke-width: 2px;
}

.LightBulbOn>path, .LightBulbOn>g>path {
  fill: rgba(224, 185, 88, 1);
}

.LightBulbGreen>path, .LightBulbGreen>g>path {
  fill: rgba(108, 171, 133, 1);
}

#doors #lyspærer {
  cursor: pointer;
}

#lyspærer text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}