footer {
  margin: auto;
  max-width: 40rem;
  text-shadow: rgba(18, 38, 32, 1) 0 0 70px, rgba(18, 38, 32, 1) 0 0 50px, rgba(18, 38, 32, 1) 0 0 40px, rgba(18, 38, 32, 1) 0 0 30px;
}

#social {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
}
