footer {
  margin: auto;
  max-width: 40rem;
  text-align: center;
  padding: 0rem 1rem 2rem 1rem;
}

#social {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
}
