.flourish {
    width: 15rem;
    margin-bottom: 1rem;
}

.Leaderboard {
    text-align: center;
    background-color: rgba(37, 86, 80, 1);
    border-radius: 25px 0 0 25px;
    box-sizing: border-box;
    position: absolute;
    max-height: 100vh;
    overflow-y: auto;
    right: 0;
    top: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: visibility 200ms linear, opacity 200ms linear;
}

.Leaderboard h2 {
    margin-bottom: 0;
}

.Leaderboard.open{
    visibility: visible;
    opacity: 1;
}

.Leaderboard table{
    margin: auto;
    border-spacing: 15px;
    border-collapse: collapse;
    border-style: hidden;
}

.Leaderboard table th {
    padding: 1rem;
    border: 2px solid white;
}

.Leaderboard table td {
    padding: 1rem;
    border: 2px solid white;
}

.Leaderboard #CloseLeaderboard{
    background: none!important;
    border: none !important;
    float: right;
    cursor: pointer;
    padding: 0;
}