.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
    background-color: rgb(255, 255, 255, 0.5) !important;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

#task{
    padding: 2rem;
    color: black;
}

#task-close{
    background: none!important;
    border: none !important;
    float: left;
    cursor: pointer;
    padding: 0;
}

#task_modal {
    /* background-image:url(svg/mistletoeborder.svg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important; */
}