.CommentSection {
    width: 80%;
    margin: 4rem auto;    
}

.Comment {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.CommentForm {
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.CommentForm .SubmitButton {
    background: none !important;
    border: none !important;
    cursor: pointer;
    margin-left: 1rem;
    padding: 1rem;
    font-weight: 500;
}

.CommentForm textarea {
    resize: vertical;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: 1px solid black;
    display: block;
    min-height: 4rem;
    background-color: whitesmoke;
}

.CommentForm textarea:focus {
    border: none;
    border-bottom: 1px solid black;
}

.ProfileImage {
    border-radius: 50%;
    margin-right: 1rem;
    height: 6rem;
}

.CommentView {
    background-color: whitesmoke;
    color: black;
    width: 100%;
    display: flex;
}

.CommentData {
    width: 100%;
}

.CommentData time {
    float: right;
}

.CommentName {
    font-weight: 600;
}

.SubComments {
    width: 88%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;    
}


.SubComment {
    background-color: rgb(223, 223, 223);
    color: black;
    display: flex;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
}

.SubComment .ProfileImage {
    height: 4rem;
    padding: 0;
}

.CommentFooter {
    color: black;
    display: flex;
}

.CommentFooterItem {
    flex: 1 1 50px;
    flex: 0 1 50px;
    margin: 0 2rem 0 0;
}

.favoriteSvg {
    fill: #AE4A4A;
    opacity: 50%;
    cursor: pointer;
}

.favoriteSvg:hover {
    opacity: unset;
}

.favoriteSvgLiked {
    fill: #AE4A4A;
    cursor: pointer;
}

.btnReply {
    border: none;
    background-color: whitesmoke;
    outline: none;
    font-weight: bold;
}

.ReplyBox {
    color: black;
    background-color: whitesmoke;
    width: 88%;
    padding: 1rem;
}

.ReplyBox .ProfileImage {
    height: 4rem;
    padding: 0;
}

.ReplyBoxInput {
    display: flex;
    flex-direction: row;
}

#ReplyText {
    background-color: whitesmoke;
    border: none;
    outline: none;
    resize: none;
    border-bottom: 1px solid #122620;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#ReplyText::placeholder {
    font-style: italic;
    transform: translateY(300%);
}

#ReplyText:focus {
    border: none;
    outline: auto;
}

#ReplyText:focus::placeholder {
    opacity: 0;
}

.ReplyBoxButtons {
    background-color: whitesmoke;
    text-align: right;
}

.ReplyBoxBtn {
    width: 5rem;
    margin: 1rem 2rem 1rem 0;
    outline: none;
    border: none;
    background-color: whitesmoke;
    font-size: 16px;
}

.ReplyBoxBtn:hover {
    cursor: pointer;
}

.btnReplies {
    white-space: nowrap;
    background-color: whitesmoke;
    border: none;
    outline: none;
}

.btnReplies p {
    margin: 5px 0 0 0;
    float: left;
}

.btnReplies:hover, .btnReply:hover {
    cursor: pointer;
}

.Chevron {
    transition: all .5s;
}

.Rotate {
    transform: rotate(-180deg);
}

.LikeWrapper {
    display: flex;
    flex-wrap: wrap;
}

.LikeWrapper p {
    margin: 5px 0 0 5px;
}

@media only screen and (max-width: 768px) {
    .CommentSection {
        width: 95%;
    }

    .ProfileImage {
        height: 4rem;
    }

    .SubComment .ProfileImage{
        height: 3rem;
    }

    
}