html, body {
  height: 100%;
  overflow: auto;
}

body {
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(18, 38, 32, 1);
}

header {
    color: white;
    font-size: 1.5rem;
}

.Leaderboard {
    background-color: rgba(37, 86, 80, 1);
    border-radius: 25px 0 0 25px;
    box-sizing: border-box;
    position: absolute;
    max-height: 100vh;
    overflow-y: auto;
    right: 0;
    top: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: visibility 200ms linear, opacity 200ms linear;
}

.Leaderboard.open{
    visibility: visible;
    opacity: 1;
}

.Leaderboard table{
    margin: auto;
    border-spacing: 15px;
    border-collapse: collapse;
    border-style: hidden;
}

.Leaderboard table th {
    padding: 1rem;
    border: 2px solid white;
}

.Leaderboard table td {
    padding: 1rem;
    border: 2px solid white;
}

.Leaderboard #CloseLeaderboard{
    background: none!important;
    border: none !important;
    float: right;
    cursor: pointer;
    padding: 0;
}

#knowitlogo {
    width: 10rem;
}

header button:hover {
    text-decoration: underline;
}

nav {
    margin: 1rem 1rem 0 0;
    text-align: right;
}

nav button {
    background: none!important;
    font-size: 1.1rem;
    border: none;
    color: white;
    cursor: pointer;
}

footer {
    color: white;
    padding-bottom: 5rem;
}

footer a {
    color: white;
}

#knowitlogo {
    float: left;
    width: 8rem;
    margin-top: -0.5rem;
}

#doors {
    margin-bottom: 3rem;
}

