body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(18, 38, 32, 1);
}

header {
    color: white;
}

header h1 {
    font-size: 4em;
    font-weight: 100;
}

header button:hover {
    text-decoration: underline;
}

nav {
    text-align: right;
}

nav button {
    background: none!important;
    font-size: 1.1rem;
    border: none;
    color: white;
    cursor: pointer;
}

footer {
    color: white;
}

footer a {
    color: white;
}