body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(18, 38, 32, 1);
}

header {
    color: white;
}

header h1 {
    font-size: 4em;
}

header button {
    background: none!important;
    border: none;
    color: white;
    cursor: pointer;
}

header button:hover {
    text-decoration: underline;
}

footer {
    color: white;
}

footer a {
    color: white;
}