@keyframes STAR-MOVE {
	100%{
    background-position:0px -3000px;
  }
}

.background-animation {
	position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

	animation-name: STAR-MOVE;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.background-animation.paused {
  animation-play-state: paused;
}

#background {
  background:url(svg/background.svg) repeat;
  z-index: -300;
  height: 100%;
	
	animation-duration: 200s;
}

#midground {
	background: url(svg/midground.svg) repeat;
	z-index: -200;
	
	animation-duration: 150s;
}

#foreground {
	background: url(svg/foreground.svg) repeat;
	z-index: -100;
	
	animation-duration: 100s;
}
